@media (max-width: 600px) {
    .create_input{
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
    }
}
@media (max-width: 650px) {
    .CreateConnectBtn{
        width: 100% !important;
       
    }
    .CreateConnectBtn Button{
width: 100%;
    }
}